@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font:
    14px/18px AkkuratPro,
    Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex flex-col items-center;
}

#root {
  @apply w-full;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #111827;
}

input {
  border: 1px solid #ccc;
}

input:hover {
  border-color: black;
}

input:focus {
  border-color: black;
}

select {
  z-index: 1;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  background-color: white;
}
select:hover {
  border-color: black;
}
select:focus {
  border-color: black;
}
